<table width="100%" cellspacing="0" class="table">
    <thead>
        <tr>
            <th scope="col">{Contact/No.}</th>
            <th scope="col">{Car/CarLicense}</th>
            <th scope="col">{Common/Description}</th>
            <th scope="col">
                <a class="button" title="{Booking/AddBooking}" href="javascript:void(0)" onclick="openForm('{MainUrl}?fid=car-add', '{Car/Add}', 'carId')"><img height="16" width="16" src="resources/images/icons/fugue/plus-circle-blue.png"> {Car/Add}</a></th>
        </tr>
    </thead>
    <tbody>
        <? BEGIN(CASE,car_rows) ?>
        <? CASE(%BLANK) ?>
        <tr>
            <td class="data_center" colspan="4">{Common/NoData}</td>
        </tr>
        <? CASE(%DEFAULT) ?>
        <? BEGIN(FOREACH,car_rows) ?>
        <tr>
            <td class="data_center" >{order_no}</td>
            <td class="data_left">{car_license}</td>
            <td class="data_center">{car_detail}</td>
            <td class="data_center">
                <a class="with-tip" href="javascript:void(0)" title="{Car/Edit}" onclick="openForm('{MainUrl}?fid=car-edit&car_id={car_id}', '{Car/Edit}', 'carId')"><img src="images/icons/btn_edit.gif" /></a>
                <? BEGIN(CASE,delete) ?>
                <? CASE(1) ?>
                <a class="with-tip" title="{Car/Delete}" onclick="deleteData('{MainUrl}?fid=car-delete&car_id={car_id}', 'carId')" href="javascript:void(0);"><img src="images/icons/btn_delete.gif" /></a>
                <? END(CASE) ?>
            </td>
        </tr>
        <? END(FOREACH) ?>
        <? END(CASE) ?>
    </tbody>
</table>