<div class="block-controls">
	<div class="controls-buttons">
		<span class="sep"></span>
		<!-- <a href="#"><img height="16" alt="Reload" width="16" src="resources/images/icons/fugue/arrow-circle.png"></a> -->
	</div>
</div>
<div class="grey-bg no-margin">
	{PageContent,SRC}
</div>

<ul class="message no-margin">
	<li>RESULT {result_count,NUMBER|IF(0|,0)} ROWS</li>
</ul>

<!--<div class="block-footer">
	<? BEGIN(CASE,EnableSelectedAction) ?><? CASE(Y) ?>
	<img height="16" width="16" src="resources/images/icons/fugue/arrow-curve-000-left.png" class="picto">
	<a href="#" class="button">Select All</a>
	<a href="#" class="button">Unselect All</a>
	<span class="sep"></span>
	<select name="table-action" id="table-action" class="small">
		<option value="">Action for selected...</option>
		<option value="validate">Validate</option>
		<option value="delete">Delete</option>
	</select>
	<button type="submit" class="small">Ok</button><? END(CASE) ?>
</div>-->