<script>
	function cancel(url, idContainer)
	{
		messageConfirm('ยืนยันการยกเลิกข้อมูล', 'ยืนยันการยกเลิก', function(flag)
		{
			var modal = this;

			if (flag)
			{
				$.ajax(
				{
					type: 'POST',
					url: url,
					success: function()
					{
						messageAlert('ระบบได้ทำการยกเลิกเรียบร้อยแล้ว','Cancel Complate');
						modal.closeModal();
						document.getElementById(idContainer).reload();
					}
				}
            );
			}
			else
			{
				modal.closeModal();
			}
		});
	}

	function used(url, idContainer)
	{
		messageConfirm('ยืนยันการนำข้อมูลกลับมาใช้งาน', 'ยืนยัน', function(flag)
		{
			var modal = this;

			if (flag)
			{
				$.ajax(
				{
					type: 'POST',
					url: url,
					success: function()
					{
						messageAlert('ระบบได้ทำการนำข้อมูลกลับมาใช้งานเรียบร้อยแล้ว','Used Complate');
						modal.closeModal();
						document.getElementById(idContainer).reload();
					}
				}
            );
			}
			else
			{
				modal.closeModal();
			}
		});
	}
</script>

<table width="100%" cellspacing="0" class="table">
    <thead>
        <tr>
            <th scope="col">{Common/OrderNo}</th>
            <th scope="col">{Driver/DriverName}&nbsp;{Driver/DriverSurname}</th>
            <th scope="col">{Driver/DriverType}</th>
            <th scope="col">
                <a class="button" title="{Driver/Add}" href="javascript:void(0)" onclick="openForm('{MainUrl}?fid=driver-add', '{Driver/Add}', 'driverId')"><img height="16" width="16" src="resources/images/icons/fugue/plus-circle-blue.png"> {Common/Create}</a></th>
        </tr>
    </thead>

    <tbody>

        <? BEGIN(CASE,driver_rows) ?>
        <? CASE(%BLANK) ?>
        <tr>
            <td class="data_center" colspan="4">{Common/NoData}</td>
        </tr>
        <? CASE(%DEFAULT) ?>
        <? BEGIN(FOREACH,driver_rows) ?>
        <tr>
            <td>{order_no}</td>
            <td>{first_name}&nbsp;{last_name}</td>
            <td>{type}</td>
            <td>
                <a class="with-tip" href="javascript:void(0)" title="{Driver/Edit}" onclick="openForm('{MainUrl}?fid=driver-edit&driver_id={driver_id}', '{Driver/Edit}', 'driverId')"><img src="images/icons/btn_edit.gif" /></a>

                <? BEGIN(CASE,delete) ?>
                <? CASE(1) ?>
                <a class="with-tip" title="{Driver/Delete}" onclick="deleteData('{MainUrl}?fid=driver-delete&driver_id={driver_id}', 'driverId')" href="javascript:void(0);"><img src="images/icons/btn_delete.gif" /></a>
                <? CASE(%DEFAULT) ?>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <? END(CASE) ?>
				<? BEGIN(CASE,status) ?>
                <? CASE(1) ?>
                <a class="with-tip" title="{Driver/Use}" onclick="used('{MainUrl}?fid=driver-cancel&driver_id={driver_id}&status=0', 'driverId')" href="javascript:void(0);"><img src="images/icons/btn_edit_user.gif" /></a>
				<? CASE(0) ?>
				<a class="with-tip" title="{Driver/Cancel}" onclick="cancel('{MainUrl}?fid=driver-cancel&driver_id={driver_id}&status=1', 'driverId')" href="javascript:void(0);"><img src="images/icons/btn_delete_user.gif" /></a>
                <? END(CASE) ?>
            </td>
        </tr>
        <? END(FOREACH) ?>
        <? END(CASE) ?>
    </tbody>
</table>