<script>
	function cancel(url, idContainer)
	{
		messageConfirm('ยืนยันการยกเลิกข้อมูล', 'ยืนยันการยกเลิก', function(flag)
		{
			var modal = this;

			if (flag)
			{
				$.ajax(
				{
					type: 'POST',
					url: url,
					success: function()
					{
						messageAlert('ระบบได้ทำการยกเลิกเรียบร้อยแล้ว','Cancel Complate');
						modal.closeModal();
						document.getElementById(idContainer).reload();
					}
				}
            );
			}
			else
			{
				modal.closeModal();
			}
		});
	}

	function used(url, idContainer)
	{
		messageConfirm('ยืนยันการนำข้อมูลกลับมาใช้งาน', 'ยืนยัน', function(flag)
		{
			var modal = this;

			if (flag)
			{
				$.ajax(
				{
					type: 'POST',
					url: url,
					success: function()
					{
						messageAlert('ระบบได้ทำการนำข้อมูลกลับมาใช้งานเรียบร้อยแล้ว','Used Complate');
						modal.closeModal();
						document.getElementById(idContainer).reload();
					}
				}
            );
			}
			else
			{
				modal.closeModal();
			}
		});
	}
</script>

<table width="100%" cellspacing="0" class="table">
    <thead>
        <tr>
            <th scope="col">{Contact/No.}</th>
            <th scope="col">{Car/CarLicense}</th>
            <th scope="col">{Common/Description}</th>
            <th scope="col">
                <a class="button" title="{Car/Add}" href="javascript:void(0)" onclick="openForm('{MainUrl}?fid=car-add', '{Car/Add}', 'carId')"><img height="16" width="16" src="resources/images/icons/fugue/plus-circle-blue.png"> {Common/Create}</a></th>
        </tr>
    </thead>
    <tbody>
        <? BEGIN(CASE,car_rows) ?>
        <? CASE(%BLANK) ?>
        <tr>
            <td class="data_center" colspan="4">{Common/NoData}</td>
        </tr>
        <? CASE(%DEFAULT) ?>
        <? BEGIN(FOREACH,car_rows) ?>
        <tr>
            <td class="data_center" >{order_no}</td>
            <td class="data_left">{car_license}</td>
            <td class="data_center">{car_detail}</td>
            <td class="data_center">
                <a class="with-tip" href="javascript:void(0)" title="{Car/Edit}" onclick="openForm('{MainUrl}?fid=car-edit&car_id={car_id}', '{Car/Edit}', 'carId')"><img src="images/icons/btn_edit.gif" /></a>
                <? BEGIN(CASE,delete) ?>
                <? CASE(1) ?>
                <a class="with-tip" title="{Car/Delete}" onclick="deleteData('{MainUrl}?fid=car-delete&car_id={car_id}', 'carId')" href="javascript:void(0);"><img src="images/icons/btn_delete.gif" /></a>
				<? CASE(%DEFAULT) ?>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <? END(CASE) ?>
				<? BEGIN(CASE,status) ?>
                <? CASE(1) ?>
                <a class="with-tip" title="{Car/Use}" onclick="used('{MainUrl}?fid=car-cancel&car_id={car_id}&status=0', 'carId')" href="javascript:void(0);"><img src="images/icons/btn_edit_user.gif" /></a>
				<? CASE(0) ?>
				<a class="with-tip" title="{Car/Cancel}" onclick="cancel('{MainUrl}?fid=car-cancel&car_id={car_id}&status=1', 'carId')" href="javascript:void(0);"><img src="images/icons/btn_delete_user.gif" /></a>
                <? END(CASE) ?>
            </td>
        </tr>
        <? END(FOREACH) ?>
        <? END(CASE) ?>
    </tbody>
</table>